<div class="nav-main">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand font-weight-bold" href="/home">Bambo Sibiya</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']">Bio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/projects']">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--end:Nav -->
    </div>
</div>
<!--end:Navigation -->