<main role="main">
    <section class="pt-4">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <figure><img src="./assets/img/photo-1558118720-fa5cdebe6b3a.jpg" alt="" class="img-fluid">
                    </figure>
                </div>
                <!-- end:col -->
                <div class="col-md-6 pl-lg-5 pl-md-5">
                    <h2>
                        I double-majored in Illustration and Communication Arts at the Hugo Design Institute.
                    </h2>
                    <p class="lead mt-4">Add a description of your services. Aliquam at lorem tortor. Nulla eu sapien eu nibh dapibus ornare. Vestibulum posuere rhoncus elementum. Donec mattis luctus nisl non iaculis. Maecenas rhoncus augue nisi, id suscipit arcu luctus varius.
                    </p>
                    <hr class="mt-5">
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <p><strong>ATLANTIC LAW SCHOOL</strong>
                                <br>Juris Doctor, 1997</p>
                            <p><strong>IVY UNIVERSITY</strong>
                                <br>B.A., Film &amp; Music, 1994</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Associations</strong>
                                <br>
                                <p>• ABCD Bar Association, Member
                                    <br>• IP Law for Creatives Association, Member-at-Large
                                    <br>• Civil Rights Conservation, Secretary</p>
                        </div>
                    </div>
                </div>
                <!-- end:col -->
            </div>
            <hr class="mt-5">
        </div>
    </section>
</main>