<footer class="position-relative">
    <div class="container">
        <div class="row">

            <div class="col-lg-auto mt-4">
                <p class="mb-4">sharebootstrap.com</p>
            </div>
            <div class="col-lg-3 mt-4 ml-auto">
                <p>dayy GmbH
                    <br> sarajevska. 32
                    <br> 71000 sarajevo
                    <br> fbih
                </p>
                <a href="mailto:hi@yourdomain.com"><span style="text-decoration: underline;">hi@sharebootstrap.com</span></a>
            </div>
            <div class="col-lg-3 mt-4 ml-auto">
                <ul class="list-unstyled footer-link">
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">twitter</a></li>
                </ul>
            </div>
            <div class="col-lg-auto ml-lg-auto mt-4">
                <ul class="list-unstyled footer-link">
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">twitter</a></li>
                    <!-- Please note.You are not allowed to remove credit link.Please respect that.-->
                    <li><a href="https://sharebootstrap.com">dev by sharebootstrap</a></li>
                </ul>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</footer>